.root {
  position: relative;
  left: -100px
}

.input {
  height: 40px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  outline-style: none;
  padding: 12px 15px;
  font-size: 18px;
  padding-left: 40px;
}

.searchIcon {
  height: 24x;
  width: 24px;
  opacity: 0.3;
  position: absolute;
  bottom: 8px;
  left: 5px;
}

.clearIcon {
  height: 20x;
  width: 20px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
